@model MvcApplication1.Models.ad
@{
    Layout = "~/Views/Shared/public.cshtml";
    ViewBag.title = "Success | Message Sent";
}
<h2>Success</h2>
<h3>Message sent successfully</h3>
<h2>@Html.ActionLink("return back", "/Index")</h2>