@{
    ViewBag.title = "Success|Reset Password";
    Layout = "~/Views/Shared/public.cshtml";
}
<h2>Success</h2>
<h3>Request was Sent at "+@ViewBag.email+" To reset Password</h3>
<h2>@Html.ActionLink("return back", "/Login")</h2>